<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<title>Data Page</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">EMPLOYEE APPLICATION</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/}">REGISTER </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/employee/all}">VIEW ALL</a>
			</li>
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
					OPTIONS
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/}">REGISTER </a>
					<a class="dropdown-item" th:href="@{/employee/all}">VIEW ALL</a>
				</div>
			</li>
		</ul>

	</div>
</nav>

	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-center text-white">
				<h3> EMPLOYEE DATA PAGE </h3>
			</div>
			
			<!--card body starts here-->
			<div class="card-body">
				<table class="table table-hover">
					<tr class="bg-info text-white">
						<th>ID</th>
						<th>NAME</th>
						<th>GENDER</th>
						<th>SALARY</th>
						<th>DEPARTMENT</th>
						<th>ADDRESS</th>
						<th>OPERATIONS</th>
					</tr>
					<!-- for(Employee ob:list) {} -->
					<tr th:each="ob:${list}">
						<td>[[${ob.empId}]]</td>
						<td>[[${ob.empName}]]</td>
						<td>[[${ob.empGen}]]</td>
						<td>[[${ob.empSal}]]</td>
						<td>[[${ob.empDept}]]</td>
						<td>[[${ob.empAddr}]]</td>
						<td>
							<a class="btn btn-danger" th:href="@{/employee/delete(id=${ob.empId})}">DELETE</a> &nbsp;
							<a class="btn btn-warning" th:href="@{/employee/edit(id=${ob.empId})}">EDIT</a>
						</td>
					</tr>
				</table>
			</div>
			<!--card body end-->
			<div class="card-footer bg-success text-center text-white" th:if="${message}">
				[[${message}]]
			</div>
		</div>
		<!--card end-->
		
<!--Pagination starts-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" th:if="${!page.isFirst()}" th:href="@{/employee/all(page=0)}">First</a></li>
    <li class="page-item"><a class="page-link" th:if="${page.hasPrevious()}" th:href="@{/employee/all(page=${page.getNumber()-1})}">Previous</a></li>
    
   	 <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
    	   <li class="page-item">
	    <a class="page-link"
		th:href="@{/employee/all(page=${i})}">[[${i}+1]]</a>
          </li>
    </th:block>

    <li class="page-item"><a class="page-link" th:if="${page.hasNext()}" th:href="@{/employee/all(page=${page.getNumber()+1})}">Next</a></li>
    <li class="page-item"><a class="page-link" th:if="${!page.isLast()}" th:href="@{/employee/all(page=${page.getTotalPages()-1})}">Last</a></li>
  </ul>
</nav>
		<!--Pagination ends-->
	</div>
</body>

</html>