<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>Edit Page</title>
	</head>
	<body>
	<pre>
		<h3> EMPLOYEE EDIT PAGE </h3>
		<form th:action="@{/employee/update}" method="POST" th:object="${employee}">
			ID : <input type="text" th:field="*{empId}" readonly/>
			NAME : <input type="text" th:field="*{empName}"/>
			GENDER : <input type="radio" th:field="*{empGen}" value="Male"/> Male <input type="radio" th:field="*{empGen}" value="Female"/> Female
			SAL : <input type="text" th:field="*{empSal}"/>
			DEPT : <select th:field="*{empDept}">
						<option value="">-SELECT-</option>
						<option value="DEV">DEV</option>
						<option value="QA">QA</option>
						<option value="BA">BA</option>
				</select>
			ADDRESS : <textarea th:field="*{empAddr}"></textarea>
			<input type="submit" value="Update"/>
		</form>
	</pre>
	</body>
</html>